.media_list {
    width: 100%;
    height: auto;
    margin: auto;
    .slide_wrap {
        width: 100%;
        position: relative;
        .slide_container {
            width: 100%;
            overflow: hidden;
            .list {
                position: relative;
                width: 5400px;
                margin-left: -10px;
                display: flex;
                transition: all .7s ease-in-out;
            }
        }
    }
}